<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<extensions>
		<add assembly="NLog.Extended" />
	</extensions>
	<targets>
		<target name="logs" xsi:type="File" fileName="${basedir}/Logs/logs.log"
				archiveAboveSize="10485760" archiveFileName="${basedir}/Logs/logs-{#####}.txt" archiveNumbering="Sequence"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level} ${logger}: ${message} ${exception:format=shortType,message}; User: ${aspnet-user-identity}; Thread: ${threadid}" />
		<target name="errors" xsi:type="File" fileName="${basedir}/Logs/errors.log"
				archiveAboveSize="10485760" archiveFileName="${basedir}/Logs/errors-{#####}.txt" archiveNumbering="Sequence"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level} ${logger}: ${message}${newline}${newline}${exception:innerFormat=tostring:maxInnerExceptionLevel=100:format=tostring}${newline}" />
		<target name="notification-errors" xsi:type="File" fileName="${basedir}/Logs/notification-errors.log"
				archiveAboveSize="10485760" archiveFileName="${basedir}/Logs/notification-errors-{#####}.txt" archiveNumbering="Sequence"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level} ${logger}: ${message}${newline}${newline}${exception:innerFormat=tostring:maxInnerExceptionLevel=100:format=tostring}${newline}" />
	</targets>
	<rules>
		<logger name="OpsConsole.UI.Controllers.NotificationController" minlevel="Error" writeTo="notification-errors" final="true" />
		<logger name="*" levels="Error,Fatal" writeTo="errors" />
		<logger name="*" minlevel="Trace" writeTo="logs" />
		<!--<logger name="*" minlevel="Info" writeTo="logs" />-->
	</rules>
</nlog>
